@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome with Docker!</h1>
    <p>
        Learn more about developer
        <a href="https://github.com/Reayz">@ViewData["DeveloperName"]</a> from @ViewData["UniversityName"].
    </p>
</div>
